$bg: #333333;
$fg: #9c9695;

html, body {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    background-color: $bg;
    display: flex;
    justify-content: center;
    align-items: center;
}

svg {
    stroke: $fg;
    stroke-width: 0.01;
    fill: none;
}

svg .points {
    fill: $bg;
}
